@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
    ViewData["Title"] = "Grade Calculator";
}

@model GradeCalculatorModels;

<h3>Grade Calculator</h3>
<form method="post">
    <label>Assignments Percentage: </label>
    <input id="assignments" asp-for="AssignPercent"/><br />
    <label>Group Project Percentage: </label>
    <input id="groupproject" asp-for="GroupProjPercent"/><br />
    <label>Quizzes Percentage: </label>
    <input id="quizzes" asp-for="QuizPercent"/><br />
    <label>Exams Percentage: </label>
    <input id="exams" asp-for="ExamPercent"/><br />
    <label>INTEX Percentage: </label>
    <input id="intex" asp-for="IntexPercent"/><br />
    <input id="calculator" type="submit" value="Submit" />

    <div asp-validation-summary="All"></div>
</form>

<script src="~/lib/jquery/jquery-3.6.0.min.js"></script>
<script src="~/js/GradeCalculator.js"></script>