@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
    ViewData["Title"] = "This is the coolest website ever";
}

@*
i wasn't sure where to place this comment but if you look I did in fact set an icon by going to the project tab under the application option and setting an icon, 
however, it still doesn't show up on the page and I couldn't figure out how to make it do that. Hopefully you can see that it is uploaded.*@

<img src="img/_MCN9753.JPEG" />
<p>
    I hope to learn how to code more efficiently and how to teach myself difficult concepts. I have struggled 
    in some of the previous coding classes I have taken which has made me not really like coding. However, 
    I really like the style of this class and I am hoping that it will help me enjoy coding more.
</p>

<ul>
    My Top 3 Jobs:
    <li> Data Analyst</li>
    <li> Product Manager</li>
    <li> Database Management</li>
</ul>


